.jumbotron {
    background-image: url(./images/bg.png);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
}

.searchDiv {
    float: right;
}

#search {
    background: transparent;
    border: white 1px solid;
    color: white;
}